
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
/* ==============
  General
===================*/
body {
  background: #f8f9fb;
  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: #f8f9fb;
}
h1, h2, h3, h4, h5, h6 {
	color: #030303;
	font-family: 'Roboto', sans-serif;
	margin: 10px 0;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 20px;
}
h1 {
  line-height: 43px;
}
h2 {
  line-height: 35px;
}
h3 {
  line-height: 30px;
}
h3 small {
  color: #444444;
}
h4 {
  line-height: 22px;
}
h4 small {
  color: #444444;
}
h5 small {
  color: #444444;
}
* {
  outline: none !important;
}
a:hover {
  outline: 0;
  text-decoration: none;
}
a:active {
  outline: 0;
  text-decoration: none;
}
a:focus {
  outline: 0;
  text-decoration: none;
}
.container {
  width: auto;
}
.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.footer {
	background-color: #fff;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
	bottom: 0px;
	color: #58666e;
	text-align: left !important;
	padding: 20px 30px;
	position: absolute;
	right: 0;
	left: 240px;
	box-shadow: 0px 0px 3px #d7d9dd;
}
#wrapper {
  height: 100%;
  overflow: hidden;
  width: 100%;
}
.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.page-title {
  margin-bottom: 24px;
}
.social-links li a {
  -webkit-border-radius: 50%;
  background: #EFF0F4;
  border-radius: 50%;
  color: #7A7676;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
/* ==============
  Bootstrap-custom
===================*/
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  margin-top: 5px;
}
.dropdown-menu {
  padding: 4px 0;
  -webkit-animation: dropdownOpen 0.3s ease-out;
  -o-animation: dropdownOpen 0.3s ease-out;
  animation: dropdownOpen 0.3s ease-out;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.dropdown-menu > li > a {
  padding: 6px 20px;
}
.bg-primary {
  background-color: #2b4049 !important;
}
.bg-success {
  background-color: #01d1ff !important;
}
.bg-info {
  background-color: #69b72f !important;
}
.bg-warning {
  background-color: #ffd740 !important;
}
.bg-danger {
  background-color: #ef5350 !important;
}
.bg-muted {
  background-color: #d0d0d0 !important;
}
.bg-inverse {
  background-color: #212121 !important;
}
.bg-purple {
  background-color: #7e57c2 !important;
}
.bg-pink {
  background-color: #3b4144 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.text-white {
  color: #ffffff;
}
.text-danger {
  color: #ef5350;
}
.text-muted {
	/* color: #98a6ad; */
	color: #6d838d;
	width: calc(100% - 134px);
}
.text-primary {
  color: #2b4049;
}
.text-warning {
  color: #ffd740;
}
.text-success {
  color: #58c9c7;
}
.text-info {
  color: #2b9ac9;
}
.text-inverse {
  color: #212121;
}
.text-pink {
  color: #ec407a;
}
.text-purple {
  color: #7e57c2;
}
.text-dark {
  color: #797979 !important;
}
.form-control {
	-moz-border-radius: 2px;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border-radius: 2px;
	border: 1px solid #eeeeee;
	box-shadow: none;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	height: 44px;
	border: 1px solid #cbd7e3;
	border-radius: 3px;
	outline: none;
	font: 400 15px/21px 'Roboto', sans-serif;
	color: #7b7c7c;
}
.form-control:focus {
  border: 1px solid #e0e0e0;
  box-shadow: none;
}
.label-primary {
  background-color: #2b4049;
}
.label-success {
  background-color: #58c9c7;
}
.label-info {
  background-color: #2b9ac9;
}
.label-warning {
  background-color: #ffd740;
}
.label-danger {
  background-color: #ef5350;
}
.label-purple {
  background-color: #7e57c2;
}
.label-pink {
  background-color: #ec407a;
}
.label-inverse {
  background-color: #212121;
}
.badge {
  text-transform: uppercase;
  font-weight: normal;
  padding: 3px 5px;
  font-size: 12px;
  margin-top: 1px;
}
.badge-xs {
  font-size: 9px;
}
.badge-xs,
.badge-sm {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}
.badge-primary {
  background-color: #2b4049;
}
.badge-success {
  background-color: #58c9c7;
}
.badge-info {
  background-color: #2b9ac9;
}
.badge-warning {
  background-color: #ffd740;
}
.badge-danger {
  background-color: #ef5350;
}
.badge-purple {
  background-color: #7e57c2;
}
.badge-pink {
  background-color: #ec407a;
}
.badge-inverse {
  background-color: #212121;
}
.pagination > li > a {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #373e4a;
}
.pagination > li > span {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #373e4a;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #3b4144;
  border-color: #3b4144;
}
.tabs {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  white-space: nowrap;
  width: 100%;
}
.tabs li.tab {
  background-color: #ffffff;
  display: block;
  float: left;
  margin: 0;
  text-align: center;
}
.tabs li.tab a {
  -moz-transition: color 0.28s ease;
  -ms-transition: color 0.28s ease;
  -o-transition: color 0.28s ease;
  -webkit-transition: color 0.28s ease;
  color: #ee6e73;
  display: block;
  height: 100%;
  text-decoration: none;
  transition: color 0.28s ease;
  width: 100%;
}
.tabs li.tab a.active {
  color: #2b4049 !important;
}
.tabs .indicator {
  background-color: #2b4049;
  bottom: 0;
  height: 2px;
  position: absolute;
  will-change: left, right;
}
.tabs-top .indicator {
  top: 0;
}
.nav.nav-tabs + .tab-content {
  background: #ffffff;
  margin-bottom: 30px;
  padding: 30px;
}
.tabs-vertical-env {
  background-color: #eeeeee;
  margin-bottom: 30px;
}
.tabs-vertical-env .tab-content {
  background: #ffffff;
  display: table-cell;
  margin-bottom: 30px;
  padding: 30px;
  vertical-align: top;
}
.tabs-vertical-env .nav.tabs-vertical {
  display: table-cell;
  min-width: 120px;
  vertical-align: top;
  width: 150px;
}
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  background-color: #ffffff;
  border: 0;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
  color: #333333;
  text-align: center;
  white-space: nowrap;
}
.nav.nav-tabs > li.active > a {
  background-color: #ffffff;
  border: 0;
}
.nav.nav-tabs > li > a,
.nav.tabs-vertical > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav.nav-tabs > li > a:hover,
.nav.tabs-vertical > li > a:hover {
  color: #2b4049 !important;
}
.tab-content {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777777;
}
.nav.nav-tabs > li:last-of-type a {
  margin-right: 0px;
}
.nav.nav-tabs {
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navtab-bg {
  background-color: #eeeeee;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
  color: #2b4049 !important;
}
/* Dropcap */
.dropcap {
  font-size: 3.1em;
}
.dropcap,
.dropcap-circle,
.dropcap-square {
  display: block;
  float: left;
  font-weight: 400;
  line-height: 36px;
  margin-right: 6px;
  text-shadow: none;
}
.modal .modal-dialog .modal-content {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-color: #DDDDDD;
  border-radius: 2px;
  box-shadow: none;
  padding: 30px;
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom-width: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  border:none !important;
}
.modal .modal-dialog .modal-content .modal-body {
  padding:  0;
}
.modal .modal-dialog .modal-content .modal-footer {
  padding: 0;
  padding-top: 0px;
}
.modal-full {
  width: 98%;
}
.modal-content .nav.nav-tabs + .tab-content {
  margin-bottom: 0px;
}
.modal-content .panel-group {
  margin-bottom: 0px;
}
.modal-content .panel {
  border-top: none;
}
.tabs-vertical-env .tab-content {
  margin-bottom: 0px;
}
.table > thead > tr > td.middle-align,
.table > tbody > tr > td.middle-align,
.table > tfood > tr > td.middle-align,
.table > thead > tr > th.middle-align,
.table > tbody > tr > th.middle-align,
.table > tfood > tr > th.middle-align {
  vertical-align: middle;
}
.legendLabel {
  padding-left: 10px !important;
}
.alert-success {
  background-color: #ccedda;
  border-color: #7ad19f;
  color: #33b86c;
}
.alert-success .alert-link {
  color: #268a51;
}
.list-group-item.active {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}
.list-group-item.active:hover {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}
.list-group-item.active:hover .list-group-item-text {
  color: #2b4049;
}
.list-group-item.active:focus {
  background-color: #dddddd;
  border-color: #dddddd;
  color: #444444;
  z-index: 2;
}
.list-group-item.active:focus .list-group-item-text {
  color: #2b4049;
}
.list-group-item.active .list-group-item-text {
  color: #2b4049;
}
.list-group-item {
  border-radius: 0px;
  padding: 12px 20px;
}
.list-group-item:first-child {
  border-radius: 0px;
  padding: 12px 20px;
}
.list-group-item:last-child {
  border-radius: 0px;
  padding: 12px 20px;
}
.list-group-item-heading {
  font-weight: 300;
}
.list-group-item.active > .badge {
  color: #2b4049;
}
.nav-pills > .active > a > .badge {
  color: #2b4049;
}
.has-success .form-control {
  border-color: #58c9c7;
  box-shadow: none !important;
}
.has-warning .form-control {
  border-color: #ffd740;
  box-shadow: none !important;
}
.has-error .form-control {
  border-color: #ef5350;
  box-shadow: none !important;
}
.input-group-addon {
  border-radius: 2px;
  border: 1px solid #eeeeee;
}
/* ==============
  Helper Classes
===================*/
.p-0 {
  padding: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.m-0 {
  margin: 0px !important;
}
.m-r-5 {
  margin-right: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-l-10 {
  margin-left: 10px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-0 {
  margin-top: 0px;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-0 {
  margin-bottom: 0px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.m-h-50 {
  min-height: 50px;
}
.l-h-34 {
  line-height: 34px;
}
.font-light {
  font-weight: 300;
}
.wrapper-md {
  padding: 20px;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.b-0 {
  border: none !important;
}
.no-border {
  border: none;
}
.bx-shadow {
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 3px #d7d9dd;
	border-radius: 8px !important;
}
.mx-box {
  max-height: 380px;
  min-height: 380px;
}
.thumb-sm {
  height: 32px;
  width: 32px;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
.grid-structure .grid-container {
  background-color: #f5f5f5;
  margin-bottom: 10px;
  padding: 10px 20px;
}
.icon-list div {
  cursor: pointer;
  line-height: 40px;
  white-space: nowrap;
}
.icon-list i {
  -webkit-transition: all 0.2s;
  -webkit-transition: font-size 0.2s;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  text-align: center;
  transition: all 0.2s;
  transition: font-size 0.2s;
  vertical-align: middle;
  width: 40px;
}
.icon-list .col-md-3:hover i {
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  moz-transform: scale(2);
  transform: scale(2);
}
.ionicon-list i {
  font-size: 16px;
}
.ionicon-list .col-md-3:hover i {
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  moz-transform: scale(2);
  transform: scale(2);
}
/* ==============
  Waves Effect
===================*/
/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}
.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}
.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}
.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}
.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}
.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}
.waves-notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
.waves-circle {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%;
  -webkit-mask-image: none;
}
.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom;
}
.waves-input-wrapper .waves-button-input {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.waves-block {
  display: block;
}
/* ==============
  Animation
===================*/
/* Bounce 1 */
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.2);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* Bounce 2 */
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@-o-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -o-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -o-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/* Dropdown */
@-webkit-keyframes dropdownOpen {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes dropdownOpen {
  0% {
    opacity: 0;
    -moz-transform: scale(0);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-o-keyframes dropdownOpen {
  0% {
    opacity: 0;
    -o-transform: scale(0);
  }
  100% {
    -o-transform: scale(1);
  }
}
@keyframes dropdownOpen {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* Progressbar Animated */
@-webkit-keyframes animationProgress {
  from {
    width: 0;
  }
}
@keyframes animationProgress {
  from {
    width: 0;
  }
}
/* Portlets loader */
@-webkit-keyframes loaderAnimate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(220deg);
  }
}
@-moz-keyframes loaderAnimate {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(220deg);
  }
}
@-o-keyframes loaderAnimate {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(220deg);
  }
}
@keyframes loaderAnimate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(220deg);
  }
}
@-webkit-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(140deg);
  }
}
@-moz-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -moz-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -moz-transform: rotate(140deg);
  }
}
@-o-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -o-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -o-transform: rotate(140deg);
  }
}
@keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}
@keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #999 0 0 0 17px;
    transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #999 0 0 0 2px;
  }
  100% {
    box-shadow: inset #999 0 0 0 17px;
    transform: rotate(140deg);
  }
}
@media print {
  .logo,
  .page-title,
  .breadcrumb,
  .footer {
    display: none !important;
    margin: 0px !important;
    padding: 0px !important;
  }
  .left {
    display: none;
  }
  .right-bar {
    display: none !important;
  }
  .content {
    margin-top: 0px;
    padding-top: 0px;
  }
  .content-page {
    margin-left: 0px !important;
    margin-top: 0px;
  }
}




.form-control:hover{
	border: 1px solid #8add5c;
	box-shadow: 0px 3px 3px #d2dee8;
}
.form-control:focus {
	border: 1px solid #55b321;
	box-shadow: 0px 3px 3px #d2dee8;
}






.select-pure__select {
  align-items: center;
  border-radius: 2px;
  border: 1px solid #cbd7e3;
  box-shadow: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #5c727d;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  justify-content: left;
  min-height: 44px;
  padding: 0px 10px;
  position: relative;
  transition: 0.2s;
  width: 100%;
  background: #fff url(../images/profilearw.png)no-repeat right 13px center;
  padding-right: 20px;
  border-radius: 4px;
  margin-top: 0px;
}

.select-pure__select::placeholder {

color: #5c727d;

font-weight: 400;

font-family: 'Roboto', sans-serif;

}



.select-pure__options {

  border-radius: 4px;

  border: 1px solid rgba(0, 0, 0, 0.15);

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  box-sizing: border-box;

  color: #363b3e;

  display: none;

  left: 0;

  max-height: 221px;

  overflow-y: scroll;

  position: absolute;

  top: 50px;

  width: 100%;

  z-index: 5;

}



.select-pure__select--opened .select-pure__options {

  display: block;

}



.select-pure__option {

  background: #fff;

  border-bottom: 1px solid #e4e4e4;

  box-sizing: border-box;

  height: 44px;

  line-height: 25px;

  padding: 10px;

}



.select-pure__option--disabled {

  color: #e4e4e4;

}



.select-pure__option--selected {

  color: #e4e4e4;

  cursor: initial;

  pointer-events: none;

}



.select-pure__option--hidden {

  display: none;

}



.select-pure__selected-label {

  align-items: 'center';

  background: #e3fcd5;

  border-radius: 4px;

  color: #5c727d;

  font-size: 14.5px;

  font-weight: 400;

  cursor: initial;

  display: inline-flex;

  justify-content: 'center';

  margin: 1px 6px 1px 0;

  padding: 7px 10px;

}



.select-pure__selected-label:last-of-type {

  margin-right: 0;

}



.select-pure__selected-label i {

 cursor: pointer;

  display: inline-block;

  margin-left: 4px;

  font-size: 13px;

  margin-top: 3px;

  font-weight: 700;

}

.select-pure__selected-label i:hover{

  color: #338306;

}



.select-pure__selected-label img {

  cursor: pointer;

  display: inline-block;

  height: 18px;

  margin-left: 7px;

  width: 14px;

}



.select-pure__autocomplete {

  background: #f9f9f8;

  border-bottom: 1px solid #e4e4e4;

  border-left: none;

  border-right: none;

  border-top: none;

  box-sizing: border-box;

  font-size: 16px;

  outline: none;

  padding: 10px;

  width: 100%;

}



.select-pure__placeholder--hidden {

  display: block;

}

.budget-box{width: 100%;}
.budget-box input{float: left; width: 65%;}
.budget-box select{float: right; width: 35%;}

.up-work-img {
  border-radius: 12px;
  width: 100%;
  border: 1px solid #e6e6e6;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  margin-top: 15px;
}
.uplodimgfil {
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  max-width: 32%;
}
.edit-gallerynew {
  margin-top: 20px;
  display: flex;
  padding-left: 0;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
.edit-gallerynew li {
  width: calc(40% - 15px);
  margin-right: 15px;
}	
.edit-gallerynew .upimg {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 155px;
  margin-top: 10px;
  border-radius: 4px;
  background: #cccccc42;
}

.edit-gallerynew .upimg img {
  margin-left: 0;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
}
.edit-gallerynew .upimg a {
  position: absolute;
  width: 24px;
  background: #338306;
  right: 12px;
  text-align: center;
  line-height: 22px;
  top: 9px;
  height: 24px;
  border-radius: 50%;
}

.agent-right-body {
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 10px 17px 30px;
  background: #fff;
}
.redio_bx {
  width: 100%;
  margin-top: 16px;
}
.redio_bx span {
  font-size: 16.5px;
  font-weight: 400;
  color: #3e414d;
}
.prop .ul_radio {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ul_radio {
  margin-top: 10px;
}
ul li {
  padding: 0px;
  margin: 0px;
      margin-right: 0px;
}
.redio_bx .category-ul li label {
  position: relative;
  background: none !important;
  color: #5c727d;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.radio {
  padding-left: 0 !important;
}
.agent-right-body .redio_bx .category-ul li label {
  background: url(../images/chae.png)no-repeat !important;
  background-position: left top 5px !important;
}
.agent-right-body.new-upcon .redio_bx .category-ul li label {
  background: transparent !important;
}
.radio input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
  display: none;
}	
.agent-right-body.new-upcon .radio .outer {
  width: 20px;
  height: 20px;
  margin: 0 4px 0 0;
}
.radio .outer {
  width: 23px;
  height: 23px;
  display: block;
  float: left;
  margin: 0 10px 0 0;
  border: 2px solid #338306;
  border-radius: 50%;
  background-color: #fff;
}
.agent-right-body.new-upcon .radio .inner {
  width: 10px;
  height: 10px;
  margin: 3px;
}
.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 11px;
  height: 11px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: 4px;
  border-radius: 50%;
  background-color: #338306;
  opacity: 0;
}
.das_input {
  width: 100%;
  margin-top: 18px;
  display: inline-block;
}
.das_input input, .das_input select, .das_input textarea {
  border: 1px solid #cbd7e3;
  border-radius: 4px;
  margin-top: 5px;
  color: #5c727d;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 45px;
  padding: 0 25px 0 14px;
  width: 100%;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -moz-border-radius: 2px;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}
.das_input input:focus, .das_input select:focus, .das_input textarea:focus{border: 1px solid #55b321;
      box-shadow: 0px 3px 3px #d2dee8;}
.redio_bx.furn {
  margin-top: 22px;
}
.ul_radio li{list-style: none;display: inline-block; margin-right: 10px;}
.ul_radio{padding-left: 0;}
.das_input textarea{height: 100px; padding-top: 10px; padding-bottom: 10px;}
.bud-input input {
  width: 46.5%;
}
.bud-input input {
  width: 46.5%;
}
.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.new-aget-pro li {
  width: 25%;
}
.agent-right-body .diiferent-sec .radiobx {
  margin: 4px 0;
  cursor: pointer;
}
.dash-list-agent .upimg img {
  margin-left: 0;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 3px;
}
.dash-list-agent .upimg {
  display: inline-block;
  position: relative;
  width: 118px;
  height: 111px;
  border-radius: 3px;
  background: #cccccc42;
  margin-right: 20px;
}
.edit-gallery {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}
.dash-list-agent {
  margin-top: 15px;
}
.dash-list-agent .upimg a {
  position: absolute;
  width: 22px;
  background: #338306;
  right: -9px;
  text-align: center;
  line-height: 22px;
  color: #fff;
  font-weight: 100;
  top: -7px;
  z-index: 9;
  height: 22px;
  border-radius: 50%;
}
.dash-list-agent .upimg a:hover {
  background: #3b4144;
}
.usei_sub {
  padding-top: 22px;
  width: 100%;
  display: inline-block;
}
.bodar {
  border-top: solid 1px #e2e2e2;
  width: 100%;
  margin-top: 27px;
  display: table-caption;
}


.new-aget-pro {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
}
.agent-right-body .radiobx input[type="checkbox"]:checked + label {
  background: url(../images/checked.png)no-repeat !important;
      background-position-x: 0%;
      background-position-y: 0%;
  background-position: left top 5px !important;
}
.new-aget-pro li{list-style: none;}
.agent-right-body .redio_bx .category-ul li label {
  background: url(../images/chae.png)no-repeat !important;
  background-position: left top 5px !important;
}
.radiobx input[type="radio"], .radiobx input[type="checkbox"] {
  display: none;
  cursor: pointer;
}
.new-aget-pro li label{padding-left: 26px; padding-top:3px;}
.edit-gallery li{list-style: none;}
.uplodimg {
  width: 100%;
  margin-top: 14px;
  display: flex;
}
.uplodimg_cc1{-ms-flex: 0 0 32%;
  flex: 0 0 32%;
  max-width: 32%;}
.ext-image{width: 100%; display: inline-block;}
.ext-image .edit-gallerynew li {
  width: 127px;
}
.button-menu-mobile:hover {
  color: #3b4144 !important;
}

.diiferent-sec .slider_rnge {
  margin-top: 19px;
}
.slider_rnge .ui-slider-horizontal {
  background: #000 none repeat scroll 0 0 !important;
  border: medium none !important;
  height: 5px !important;
  margin: 0;
}
.slider_rnge .ui-slider-horizontal {
  background: #000 none repeat scroll 0 0 !important;
  border: medium none !important;
  height: 11px !important;
  margin: 0;
}
.slider_rnge .ui-state-default, .slider_rnge .ui-widget-content .ui-state-default, .slider_rnge .ui-widget-header .ui-state-default {
  background: #338306 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-datepicker .ui-datepicker-next {
  right: 0 !important;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -.4em;
  margin-left: -.6em;
}
.ui-slider .ui-slider-range:last-child {
  background: #338306 !important;
}
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.mor-filters a, .mor-filters input {
  color: #338306;
  font-size: 14.5px;
  height: 45px;
  line-height: 42px;
  background: #fff;
  border: 1px solid #338306;
  border-radius: 5px;
  outline: none;
  font-weight: 400;
  -webkit-appearance: none;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  font-family: 'Roboto', sans-serif;
}
.price_numb{border: none; padding: 15px 0;}
.ui-slider .ui-slider-handle{    width: 18px !important;
  height: 18px !important;}

  
.diiferent-sec {
  width: 100%;
  margin-top: 0;
}
.locatiob-search {
  display: flex;
  align-items: center;
}
.locatiob-search input {
  font-size: 14px;
  border-right: 0;
  border-radius: 4px 0 0 4px;
}
.locatiob-search select {
  border: 1px solid #dae7d3;
  height: 45px;
  letter-spacing: 00px;
  font-weight: 500;
  display: block;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 0px 4px 4px 0;
  color: #5c727d;
  transition: all 0.3s;
  background: url(../images/caret1.png)no-repeat center right 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 20px;
  padding-left: 7px;
}
.admin_frm_cc .form-group{width: 100% !important; margin: 0 !important; margin-top: 15px !important;}
.admin_frm_cc{padding: 20px !important;}
.ser_btn{

    width:100%;
    display: inline-block;
    margin-bottom: 20px;
}

.new_rows {
  margin-top: 22px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.check-box.new-av-check label.checklabeel {
  color: #3e414d;
  font-size: 15px;
  font-style: normal;
  letter-spacing: 0.2px;
  line-height: 21px;
}
.das_input label {
  font-size: 16.5px;
  color: #3e414d;
  font-weight: 400;
}
.form_box_area.das_input {
  margin-top: 0;
}
.das_input {
  width: 100%;
  margin-top: 18px;
  display: inline-block;
}
.das_input input, .das_input select, .das_input textarea {
  border: solid 1px #c5c6c9;
  border-radius: 4px;
  margin-top: 10px;
  color: #5c727d;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  height: 45px;
  padding: 0 25px 0 14px;
  width: 100%;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.over_llp1 {
  position: absolute;
  top: 45px;
  right: 14px;
}
.list-showag li {
  float: left;
  padding: 8px 10px;
  border-radius: 5px;
  background: #f7faf5;
  color: #5c727d;
  margin-right: 10px;
  font-size: 13.5px;
  border: 1px solid #9bc285;
  margin-top: 6px;
  margin-bottom: 7px;
  list-style: none;
}
.list-showag{padding-left: 0; margin-left: 166px;}
.list-showag span {
  margin-left: 7px;
}
.adds_btn {
  background: #338306;
  width: 106PX;
  height: 45px;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 47px;
  padding: 0 15px;
  color: #ffffff;
  margin: 5px 0;
      margin-top: 5px;
      margin-left: 0px;
  margin-top: 14px;
  margin-left: 11px;
  position: relative;
  display: block;
}
.adds_btn:hover {
  background: #3b4144;
}
.new-av-check{margin-top: 40px;}

.budget_iconn{
  position: relative;
}
.budget_iconn .budget_iconn02{
  position: absolute;
  left: 14px;
  padding: 15px 11px 0 0;
  height: 42px;
  color: #767575;
  background: #FFF;
  top: 1px;
  border-right: 1px solid #c5c6c9;
}
.ad_pp{
  padding-left: 45px !important;
}
.language_kn{

   margin-top: 0px !important;
}

res-modal .modal-header {
	border: 0;
	padding-bottom: 0;
}
.res-modal .modal-title {
	font-size: 20px;
	padding-bottom: 13px;
	
	width: 100%;
	position: relative;
}
.res-modal .modal-body {
	padding-top: 0;
}
.res-modal .modal-title::after {
	position: absolute;
	content: "";
	width: 48px;
	height: 4px;
	background: #338306;
	z-index: 9999;
	bottom: 0;
	left: 0;
}
.res-modal .modal-body .appome_input {
	width: 47%;
	float: left;
	margin-right: 3%;
}
.res-modal .modal-body .appome_input label {
	color: #383838;
	font-size: 16px;
	line-height: 26px;
}
.dash-d {
	position: relative;
}
.das_input input, .das_input select, .das_input textarea {
	border: solid 1px #c5c6c9;
	border-radius: 4px;
	margin-top: 10px;
	color: #5c727d;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	height: 45px;
	padding: 0 25px 0 14px;
	width: 100%;
	text-overflow: ellipsis;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.over_llp1 {
	position: absolute;
	top: 22px;
	right: 14px;
}
.res-modal .modal-footer {
	justify-content: flex-start;
}
.res-modal .modal-footer .btn {
  height: 39px;
  background: #338306 !important;
  color: #fff !important;
  border-radius: 3px;
  width: 100px !important;
  border: none !important;
  border: 0;
  cursor: pointer;
  font-size: 16px !important;
  letter-spacing: 0.2px;
  font-family: "Roboto";
  width: 80px;
  float: left;
  margin: 15px 0 0 0;
}
.res-modal .modal-footer .btn:hover {
	background: #000 !important;
}
.modal-header .close {
  position: absolute;
  top: 15px;
  right: 16px;
}

.captio1{

  background: #71b370 !important;

}
.captio3{

  background: #4bb187 !important;
   
}
.captio4{

  background: #4b8bb1 !important;
}
.captio5{

   
  background: #7d837d !important;

}
.captio6{

  background: #669ee5 !important;
}
.captio2{

  background: #92abb5 !important;
}

.d-flex.align-items-center{
  display: flex;
  align-items: center;
}
.wid45 {
    width: 45%;
    margin-right: 10px;
}
.das_input select {
    background: #fff url(../images/caret1.png)no-repeat right 13px center;
}
.wid55 {
    width: 55%;
}
.das_input textarea{
  height: 120px;
  resize: none;
}
.uplodimg {
    width: 100%;
    margin-top: 14px;
    display: flex;
}
.agent-right-body.new-upcon .uplodimgfil {
    -ms-flex: 0 0 32%;
    flex: 0 0 33%;
    max-width: 33%;
}
.uplodimgfil b {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 16.5px;
    color: #3e414d;
    line-height: 24px;
    margin-bottom: 12px;
}
.uplodimg_pick {
    align-self: flex-end;
    margin-left: 20px;
}
.ui-datepicker {
    width: 22em !important;
    z-index: 999999999 !important;
}
.ui-datepicker td {
    border: 1px solid #ececec !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
  border-radius: 0 !important;
}
.slider_rnge .ui-slider-horizontal {
    background: #000 none repeat scroll 0 0 !important;
    border: medium none !important;
    height: 5px !important;
    margin: 0;
    padding: 0 !important;
}

.slider_rnge .ui-slider-horizontal .ui-widget-header {
    border: 1px solid #dddddd !important;
    background: #e9e9e9 !important;
    color: #333333;
    font-weight: bold;
}
.slider_rnge .ui-slider-horizontal .ui-slider-range:last-child {
    background: #338306!important;
}
.slider_rnge{
  margin-top: 10px;
}
.slider_rnge span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 50% !important;
    padding: 0 !important;
    width: 13px !important;
    height: 13px !important;
}
.slider_rnge .ui-slider-horizontal .ui-slider-handle{
  top: -0.4rem !important;
}
.range-text ,.range-text input{
  width: 100%;
  display: block;
}