/*
Template Name: Moltran Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Responsive
*/
@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}
@media (max-width: 1199px) {
  .edit-gallerynew li {
    width: calc(55% - 15px);
    margin-right: 15px;
}
.edit-gallerynew .upimg{
  height: 179px;
}
.show-actions{
  position: inherit;
  top: 18px;
}
.new-aget-pro li {
  width: auto;
  margin-right: 20px;
}
.list-showag{margin-left: 141px;}

}
/* 1199px */
@media (max-width: 991px) {
  .uplodimg_cc1 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.dash-list-agent .upimg{margin-top: 10px;}
.list-showag {
  margin-left: 0;
}
.new-av-check {
  margin-top: 0;
}
.check-box.new-av-check label.checklabeel{font-weight: 700;font-size: 19px;}
.das_input{margin-top: 15px !important;}
.adds_btn{margin-left: 0;}
.over_llp1{ top: 61px;}
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .edit-gallerynew li {
    width: calc(25% - 15px);
    margin-right: 15px;
}
.edit-gallerynew .upimg{
  height: 160px;
}
.uplodimgfil {
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
}




@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .content-page {
    margin-left: 0px !important;
  }
  .enlarged .left.side-menu {
    margin-left: -75px;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  .todo-send {
    margin-top: 10px;
    padding-left: 15px;
  }
  .chat-inputbar {
    padding-left: 15px;
  }
  .chat-send {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .wizard > .steps > ul > li {
    width: 100%;
  }
  .wizard > .content {
    padding: 0px !important;
  }
  .wizard > .content > .body {
    float: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
  }
  .wizard.vertical > .steps {
    display: inline;
    float: none;
    width: 100%;
  }
  .wizard.vertical > .content {
    display: inline;
    float: none;
    margin: 0%;
    width: 100%;
  }
  .footer {
    left: 0px !important;
  }
  .edit-gallerynew li {
    width: calc(33.33% - 15px);
    margin-right: 15px;
}
.edit-gallerynew .upimg{
  height: 170px;
}
.uplodimgfil {
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.show-actions{
  position: inherit;
  top: 18px;
}
.tab_stylee a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #3b4144;
  margin: 18px 0 0 7px;
  height: 38px;
  display: inline-block;
  padding: 10px 7px 4px 7px;
  color: #fff;
  cursor: pointer;
  float: left;
  border-radius: 6px 6px 0 0;
}
.usei_sub {
  padding-top: 3px;}
  .agent-right-body{    padding: 10px 12px 15px;
  }

}
@media (max-width: 575px) {
  .edit-gallerynew .upimg{
    height: 120px;
  }
  .uplodimgfil {
    -ms-flex: 0 0 70%;
    flex: 0 0 80%;
    max-width: 80%;
}
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  .button-menu-mobile {
    display: block;
  }
  .search-bar {
    display: none !important;
  }
  .edit-gallerynew li {
    width: calc(50% - 15px);
    margin-right: 15px;
}
.edit-gallerynew .upimg{
  height: 170px;
}
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
  .topbar-left {
    width: 166px !important;
  }
  .logo span {
    display: none !important;
  }
  .logo i {
    margin-right: 0px;
  }
  .edit-gallerynew .upimg{
    height: 120px;
  }
  .uplodimgfil {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
}
/* Container-alt */
@media (min-width: 768px) {
  .container-alt {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
